# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Corpus files
*.txt
text8
text9

# Setting files
tasks.json
.vscode/tasks.json
launch.json
.vscode/launch.json

#outputs of the program
word2vec
read_ppdb_test
*.bin
*.swp

#linxu shells
*.sh
